<a href="https://colab.research.google.com/github/sukyami/test/blob/master/basic01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import math

Create five variables

In [4]:
first_name = "Suk Hyang"
firstName = "Marc"
FirstName = "ACE"
FIRSTNAME = "Sarah"

In [5]:
print(first_name)
print(firstName)
print(FirstName)
print(FIRSTNAME)

Suk Hyang
Marc
ACE
Sarah

Create 10 Last Name Variables

In [6]:
last_name = "Jeong"
last_Name = "Kazim"
Last_name = "Elie"
Last_Name = "Bhigroog"
lastname = "Mendez"
lastName = "May"
Lastname = "Masrur"
LastName = "Andres"
LAST_NAME = "Kang"
LASTNAME = "Liu"

In [7]:
print(last_name)
print(last_Name)
print(Last_name)
print(Last_Name)
print(lastname)
print(lastName)
print(Lastname)
print(LastName)
print(LAST_NAME)
print(LASTNAME)

Jeong
Kazim
Elie
Bhigroog
Mendez
May
Masrur
Andres
Kang
Liu

In [8]:
num = 10

In [9]:
print(first_name)

Suk Hyang

In [10]:
first_name = 90

In [11]:
print(first_name)

90

Data Types

In [21]:
num5 = 12.9012830982103

In [22]:
num5

12.9012830982103

In [18]:
math.pi

3.141592653589793

In [23]:
num = 7
num2 = 5

In [19]:
game = True

In [25]:
type(num5)

float

In [26]:
type(game)

bool

In [27]:
list = ['name','time','carrots']

In [28]:
list

['name', 'time', 'carrots']

Creat 10 Lists, 10 Bools and 10 Floats

In [41]:
list1 = [1,2,3]
list2 = ['4','5','6']
list3 = ['7','8','9']
list4 = ['10','11','12']
list5 = ['13','14','15']
list6 = ['16','17','18']
list7 = ['19','20','21']
list8 = ["22","23","24"]
list9 = ['25',26,game]
list10 = ['A','B','C']

In [42]:
game1 = True
game2 = False
game3 = False
game4 = True
game5 = False
game6 = True
game7 = False
game8 = True
game9 = True
game10 = True

In [43]:
number1 = 0.0003
number2 = 4.00
number3 = 12.230490
number4 = math.pi
number5 = math.sin(45)
number6 = 2.2313
number7 = math.tan(20)
number8 = 100.0000
number9 = 3.04
number10 = math.pow(1.2,2)

In [44]:
list1
list2
list3
list4
list5
list6
list7
list8
list9
list10

['A', 'B', 'C']

In [45]:
game1
game2
game3
game4
game5
game6
game7
game8
game9
game10

True

In [46]:
number1
number2
number3
number4
number5
number6
number7
number8
number9
number10

1.44

In [47]:
type(list1)
type(list2)
type(list3)
type(list4)
type(list5)
type(list6)
type(list7)
type(list8)
type(list9)
type(list10)

list

In [48]:
type(game1)
type(game2)
type(game3)
type(game4)
type(game5)
type(game6)
type(game7)
type(game8)
type(game9)
type(game10)

bool

In [49]:
type(number1)
type(number2)
type(number3)
type(number4)
type(number5)
type(number6)
type(number7)
type(number8)
type(number9)
type(number10)

float

In [40]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)
print(list7)
print(list8)
print(list9)
print(list10)

print(game1)
print(game2)
print(game3)
print(game4)
print(game5)
print(game6)
print(game7)
print(game8)
print(game9)
print(game10)

print(number1)
print(number2)
print(number3)
print(number4)
print(number5)
print(number6)
print(number7)
print(number8)
print(number9)
print(number10)

[1, 2, 3]
['4', '5', '6']
['7', '8', '9']
['10', '11', '12']
['13', '14', '15']
['16', '17', '18']
['19', '20', '21']
['22', '23', '24']
['25', 26, True]
['A', 'B', 'C']
True
False
0
1
2
True
False
True
True
True
0.0003
4.0
12.23049
3.141592653589793
0.8509035245341184
2.2313
2.237160944224742
100.0
3.04
1.44